@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12 col-md-offset-1">
    <img src="~/Content/Images/ptf_click.png" width="325" height="225" />
</div>

<div class="col-md-10 col-md-offset-1">
    <h1>¡Registro guardado con éxito!</h1>
    <!-- CONTAINER END -->

</div>

