<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <br /><br /><br /><br /><br />
    <div style="background-color: red; color: White; height: 20px;"> </div>
    <div style="background-color: white; color: black; height: 170px; text-align:center;">
        <div style=" padding:20px;">
            <h3> Error de aplicación: 101 </h3>
            <h4>Error al procesar la solicitud. Su tiempo de sesión puede haber expirado o la información a la que está intentando acceder puede estar corrupta.</h4>
            <h4>Es posible que volver a iniciar sesión solucione el problema.</h4>
            <h4>Si el problema persiste comuniquese con el administrador.</h4>
            <br />
            <br /><br /><br /><br /><br />
        </div>
    </div>
    <div style="background-color: red; color: White; height: 20px;"> </div>
</body>
</html>
