@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="background-color:white;">
    <h1>Bienvenido</h1>
    <p class="lead">Service Desk</p>
</div>
<div>
    <table style="width:100%;">
        <tr>
            <td style="width:100%;background-color:#019bf2;border:2px solid #019bf2"></td>
        </tr>
    </table>
</div>


