<style>
     
        .glyphicon {
            font-size: 20px;
        }


    </style>


<script type="text/javascript">
    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    //FUNCIONES
    function ShowMenu() {

    var url = '@Url.Action("Gestiones", "Supervisor")';
        window.location.href = url;
    }
    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
</script>


<div class="row">
    <br />
    <br />
    <div class="col-md-10"></div>
    <div class="col-md-1"><i class="glyphicon glyphicon-bell" style="text-align:left; color:white"></i></div>
    <div class="col-md-1"><imput type="button" onclick="ShowMenu();" title='Configuración'><i class="glyphicon glyphicon-share" style="text-align:left; color:white"></i></imput></div>
</div>

























